Problem link : "https://practice.geeksforgeeks.org/problems/stock-buy-and-sell-1587115621/1"


This is an easy level question on gfg but most of You will find it tough because of its intution.

Logic of the code:-
we need to start traversing the array from the beginning index(i.e ind=0) after that we will just find the local minima for the buy of the stock and local maxima for the sell of the stock.
That means in somehow you need to acheive the profits after selling the stock.
NOTE: You can never sell a stock without  buying it therefore we have to  first search for the local minima and then local maxima and we will store them in a list of list.
